@import url("https://fonts.googleapis.com/css2?family=Joti+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 400px;
  height: 700px;
  position: relative;
  z-index: 1;
}
.background {
  width: 400px;
  height: 700px;
  background-color: rgb(72, 72, 72);
  border-radius: 15px;
  position: relative;
  z-index: 2;
}
.geralt-img {
  position: absolute;
  z-index: 3;
  width: 400px;
  bottom: 80px;
}
.geralt-info-container {
  position: absolute;
  z-index: 4;
  width: inherit;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  bottom: 0px;
  background: linear-gradient(to top, black, transparent);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
h1 {
  font-family: "Joti One", serif;
  color: white;
  margin-bottom: 15px;
}
p {
  color: rgb(212, 210, 210);
  font-size: 14px;
  font-family: "Syne Mono", monospace;
  text-align: center;
  margin-bottom: 20px;
}
.effect {
  width: 400px;
  height: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.eff1,
.eff2 {
  height: 5px;
  position: absolute;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  border-radius: 10px;
  box-shadow: 0 0 50px -10px white;
}
.eff1 {
  left: 200px;
  background: linear-gradient(to left, transparent, white);
  animation-name: anim1ForEff1;
}
.eff2 {
  right: 200px;
  background: linear-gradient(to right, transparent, white);
  animation-name: anim2ForEff2;
}
@keyframes anim1ForEff1 {
  from {
    left: 200px;
    width: 10px;
  }
  to {
    left: -70px;
    width: 70px;
  }
}
@keyframes anim2ForEff2 {
  from {
    right: 200px;
    width: 10px;
  }
  to {
    right: -70px;
    width: 70px;
  }
}
.btn-menu {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}
.btn-menu button {
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Joti One", serif;
  transition:
    color ease-in-out 0.5s,
    background-color ease-in-out 0.5s,
    outline ease-in-out 0.3s,
    transform ease-in-out 0.2s;
}
.btn-effect {
  color: white;
  background-color: black;
  outline: 1px solid white;
  cursor: pointer;
  transform: translateY(-3px);
}
.btn-menu button:hover {
  color: white;
  background-color: black;
  outline: 1px solid white;
  cursor: pointer;
  transform: translateY(-3px);
}

.history.show,
.abilities.show,
.gear.show {
  display: inline-block;
  color: rgb(212, 210, 210);
  font-size: 14px;
  font-family: "Syne Mono", monospace;
  padding: 15px;
}
.history {
  display: none;
  text-align: center;
}

.abilities {
  display: none;
  text-align: start;
}
.abilities ul {
  list-style-type: none;
}
.abilities ul li {
  margin-bottom: 10px;
}

.gear {
  display: none;
}
.gear ul {
  list-style-type: none;
}
.gear ul li {
  margin-bottom: 10px;
}
li span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(60, 60, 204);
}

@media (max-width: 600px) {
  main {
    width: 350px;
    height: 500px;
  }
  .background {
    width: 350px;
    height: 500px;
  }
  .geralt-img {
    width: 350px;
    bottom: 0px;
  }
  .geralt-info-container {
    height: 500px;
    bottom: 0px;
  }

  .effect {
    width: 350px;
  }
  .eff1 {
    left: 175px;
  }
  .eff2 {
    right: 175px;
  }
  @keyframes anim1ForEff1 {
    from {
      left: 175px;
      width: 10px;
    }
    to {
      left: -70px;
      width: 70px;
    }
  }
  @keyframes anim2ForEff2 {
    from {
      right: 175px;
      width: 10px;
    }
    to {
      right: -70px;
      width: 70px;
    }
  }
  .btn-menu {
    margin-bottom: 20px;
  }
  .btn-menu button {
    border: none;
    padding: 7px 20px;
  }
}
