* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  font-size: 16px;
}
main {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header,
.text,
.font-size,
.btn-container,
p {
  margin-bottom: 25px;
}
.text {
  margin-bottom: 25px;
  text-align: center;
}
.btn {
  width: 100px;
  height: 50px;
  /* padding: 10px 25px; */
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: border-radius linear 0.5s, transform linear 0.5s,
    box-shadow linear 0.5s;
}

.btn:hover {
  border-radius: 50px;
  transform: translateY(-10px);
  box-shadow: 0 5px 15px green;
}
