@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Henny Penny", system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a47dab;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.effects p {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid;
  gap: 25px;
}
.effects p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
}

.main-header {
  font-size: 50px;
}

.prediction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prediction-container img {
  width: 300px;
}

.button-container {
  position: relative;
  z-index: 1;
  padding: 15px;
}

.btn {
  font-family: "Henny Penny", system-ui;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
.effect1 {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px 2px white;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 25%;
  transition: top ease-out 1s, left ease-out 1s, box-shadow ease-out 1s;
}
.effect2 {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px 2px white;
  position: absolute;
  z-index: 2;
  bottom: 30%;
  right: 25%;
  transition: bottom ease-out 1s, right ease-out 1s, box-shadow ease-out 1s;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover ~ .effect1 {
  background-color: white;
  cursor: pointer;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 10px white;
}
.btn:hover ~ .effect2 {
  background-color: white;
  cursor: pointer;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 10px 10px white;
}
